.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 8fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}


.barra {
  position: static;
  grid-column: 1;
  margin-left: 0px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
